@model IEnumerable<SakilaCountry.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_update)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extraterrestrials)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_update)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extraterrestrials)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.country_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.country_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.country_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
